.box {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px dashed black;
  margin: 10px; }

#brush {
  border: 1px dashed black;
  padding: 3px 25px;
  margin-left: 25px; }

.boxes {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px dashed grey;
  margin: 0px; }

.clear {
  clear: both; }
