/*import web font*/
@import url(http://fonts.googleapis.com/css?family=Gudea);
@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);

/*make debug borders around everything*/
*
{
  border:1px solid gray;
}
html
{
  background-image:url(../images/grey.png);
}

nav
 {
 background-color:#262626;
 width:100%;
 height:65px;
 box-shadow: 0px 5px 50px #5E5E5E;
 position:fixed;
 top:0px;
}

nav a:hover
{
  color:#ffffff;
}

.title
 {
 color:#32cd32;
 font-family: 'Kelly Slab', cursive;
 font-size:50px;
 text-shadow: 3px 5px #5E5E5E;
 width:400px;
 margin-top:2px;
 margin-left:15px;
 font-weight:bold;
 float:left;
}

li
{
 display:inline;
 padding: 15px;
}

nav a
{
 font-family: 'Kelly Slab', cursive;
 text-decoration:none;
 color:#EDEDED;
 font-size: 20px;
}

nav a:hover
{
 color:#BDBDBD;
}

#social
{

  position: fixed;
  top: 5px;
  right: 20px;

}
/*style common elements such as header fonts*/
body
{
  font-family:'Gudea', sans-serif;
  font-size:15px;
  font-weight:normal;
  color:white;
  text-align:center;


}
/*restrict size of content section to only 960 width*/
body>div
{
  width:960px;
  height:910px;
  margin-left:80px;
  text-align:center;
}

h1
{
  font-size:40px;
  font-weight:bolder;
}
h2
{
  font-size:22px;
  font-weight:bold;
}
h3
{
  font-size:20px;
  font-weight:bold;
}
h4
{
  font-size:18px;
  font-weight:bold;
}



/*position and size two main sections of page*/
#leftSect
{
  position:relative;
  top:110px;
  /*position:absolute;*/
  width:576px;
  height:780px;
  padding:10px;
  float:left;
  /*create debug border*/
  /*border:1px solid black;*/
}

#rightSect
{
  position:relative;
  top:110px;
  /*position:absolute;*/
  /*left:750px;*/
  width:338px;
  height:780px;
  padding:10px;
  float:left;
 /*create debug border*/
  /*border:1px solid black;*/
}

/*position, size, and style tier 1 article*/
#leadStory
{
  width:576px;
  height:390px;
}

#leadHeadline
{
  margin:7px;
}

#leadStory div:first-of-type
{
  width:295px;
  height:187px;
  float:left;
}

#leadStory div:nth-child(3)
{
 /* width:276;
  height:184;
 */ float:left;
}

#leadStory div:nth-child(4)
{
  width:571;
  height:46;
}


/*position, size, and style tier 2 article*/
.tier2Article
{
  width:286px;
  height:390px;
  float:left;
}

/*position, size, and style tier 3 article*/
.tier3Article
{
  width:348px;
  height:188px;
  margin-top:6px;
  margin-bottom:6px;
}

/*position, size, and style tier 4 article*/
.tier4Article
{
  width:108px;
  height:188px;
  float:left;
  margin-left:2px;
}

footer
{
  color:#32cd32;
  background-color:#262626;
  width:100%;
  height:20px;
  box-shadow: 10px 0px 50px #5E5E5E;
  position:fixed;
  bottom:0px;
}

#page-wrap {
     width: px;
     margin: 0 auto;
}
