@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);

html
{
  background-image:url(../images/grey.png);
}


/* text logo = font-family: 'Kelly Slab', cursive; */


#nav
 {
 background-color:#262626;
 width:100%;
 height:65px;
 box-shadow: 0px 5px 50px #5E5E5E;
 position:fixed;
 top:0px;
}
}
nav a:hover{
  color:#ffffff;
}
.title
 {
 color:#32cd32;
 font-family: 'Kelly Slab', cursive;
 font-size:45px;
 width:350px;
 margin-top:6px;
 margin-left:15px;
 font-weight:bold;
 float:left;
}

li
{
 display:inline;
 padding:10px;
}
#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#EDEDED;
}
#nav a:hover
{
 color:#BDBDBD;
}