@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);

html
{
  background-image:url(../images/grey.png);
}


/*  font-family: 'Kelly Slab', cursive; */

header{
  width:960px;
  height:50px;
  border-bottom: 2px solid #ffffff;
  background-color:rbga (255 0 0 0 0.5);
  color:#FF9900;
  border-radius: 10px;
  position: relative;
}

#nav
 {
 background-color:#262626;
 width:100%;
 height:110px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 top:0px;
}
}
nav a:hover{
  color:#ffffff;
}
.title
 {
 color:#32cd32;
 font-family: 'Kelly Slab', cursive;
 font-size:45px;
 width:350px;
 margin-top:6px;
 margin-left:150px;
 font-weight:bold;
 float:left;
}
.subtitle
{
 color:#EDEDED;
 font-family:verdana;
 font-size:15px;
}
#navigation
{
 list-style-type:none;
}
li
{
 display:inline;
 padding:10px;
}
#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#EDEDED;
}
#nav a:hover
{
 color:#BDBDBD;
}