#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#erase.button.radius.success.alert.small{type: 'button', value: 'Erase'}
  .row
    .small-12.columns
      %input#start.button.radius.success.small{type: 'button', value: 'Start'}
  .row
    .small-12.columns
      %input#stop.button.radius.small{type: 'button', value: 'Stop'}
  .row
    .small-12.columns
      %p#debug