!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title County Booking
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row#header
    .small-12.columns
      %h1 County Booking
  .row
    .small-2.columns
      %h5 Name
      %input#name{type: 'text', autofocus: true, placeholder: 'First Name'}
    .small-2.columns
      %h5 Address
      %input#address{type: 'text', placeholder: 'Street Address'}
    .small-2.columns
      %h5 Website
      %input#website{type: 'text', placeholder: 'http://'}
    .small-2.columns
      %h5 Email
      %input#email{type: 'text', placeholder: 'E-Mail'}
    .small-2.columns
      %h5 Photo url
      %input#photo{type: 'text', placeholder: 'Photo URL'}
    .small-2.columns
      %input#add.button.radius.success{type: 'button', value: "Book'em!"}
  .row
    .small-12.columns
      %h3 Booked
      #people


  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/vendor/moment.min.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}
