doctype 5
html
  head
    title Cats Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Cat Page!!!
    p Welcome to Node.
    img(src='http://www.freegreatpicture.com/files/157/1562-cute-little-cat.jpg')