doctype 5
html
  head
    title Dogs Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Dog Page!!!
    p Welcome to Node.
    img(src='http://www.genconnect.com/wp-content/uploads/2012/08/help-dog.jpg')